<!DOCTYPE html>
<html lang="en">
<head>
	<title><%= _.capitalize(appName) %> App</title>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	
	
	<% if (bootstrap) { %>
	<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
	<% } %>

	<script type='text/javascript' src='/bower_components/jquery/jquery.js'></script>
	<% if (bootstrap) { %>
    <script type='text/javascript' src='/bower_components/bootstrap/dist/js/bootstrap.min.js'></script>
    <% } %>
	
	<script type='text/javascript' src='/bower_components/iris/dist/iris.js'></script>
	
	<script type='text/javascript' src='app/init.js'></script>
</head>
<body></body>
</html>
